.refresh {
    display:flex;
    flex-flow:row nowrap;
    margin:0;
    justify-content:center;
    align-items:center;
    width:80%;
}

.refresh svg {
    fill: white;
    stroke:white;
    stroke-width:1;
    margin:0px 10px;
    height:20px;
    animation-iteration-count:3;
}

.refresh span {
    text-align:center;
    font-size:.9rem;
}

@media screen and (max-width: 740px) {
    .refresh svg {
        margin:0px 10px 0px 0px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}