.highlighted {
    stroke: yellow;
    stroke-width: 2;
    filter: drop-shadow(-2px 2px 6px black);
}

.map {
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    height:fit-content;
    align-items:center;
    justify-content:center;
}

.mapState {
    fill: black;
    transition: all .12s ease-in-out;
}

svg {pointer-events: none;}
path {pointer-events: auto;}

.mapButtons {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    width:13%;
    margin:10px 0px 20px 0px;
    padding:5px;
}

.mapButtons h2 {
    background:none;
    text-decoration:underline;
}

.mapButtons h3 {
    text-decoration:none;
    text-align:center;
}

.mapButtons button {
    background-color:transparent;
    border:3px solid white;
    border-radius:30px;
    color:white;
    padding:10px;
    margin:5px;
    height:auto;
    min-width:fit-content;
    width:90%;
    font-family:'Trebuchet MS';
    font-size:1.2rem;
    font-weight:bold;
    opacity: 1;
    transition: all .2s;
}

.mapButtons button:hover {
    opacity:.7;
    transition: all .2s;
}

.map svg {
    width:1000px;
}

.stateText {
    font-family:'Trebuchet MS';
    text-shadow:2px 2px 5px rgba(36, 36, 37, .25);
}

.seatBreakdown {
    margin-bottom: 130px;
}

.seatBreakdown h3 {
    font-family:'Trebuchet MS';
    border-radius:10px 50px 10px 50px;
    transition: all .3s ease;
}

.seatBreakdown .dem {
    background:linear-gradient(to right, rgba(0, 71, 255, 1) 50%, transparent 50%) right;
    background-size: 200% 100%;
}

.seatBreakdown .rep {
    background:linear-gradient(to right, rgb(253, 3, 83) 50%, transparent 50%) right;
    background-size: 200% 100%;
}

.seatBreakdown .demWin {
    background:linear-gradient(to right, rgba(0, 71, 255, 1) 50%, transparent 50%) right;
    background-size: 200% 100%;
    background-position:left;
}

.seatBreakdown .repWin {
    background:linear-gradient(to right, rgb(253, 3, 83) 50%, transparent 50%) right;
    background-size: 200% 100%;
    background-position:left;
}

.enableButtons {
    height:100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content:flex-end;
    align-items:center;
    margin-top:300px;
}

@media screen and (max-width: 740px) {
    .seatBreakdown {
        width:100%;
        margin-bottom:0px;
        display:flex;
        flex-flow:row nowrap;
        justify-content:center;
        align-items:center;
    }

    .map {
        display:flex;
        flex-flow:column nowrap;
        width:100%;
        height:auto;
        align-items:center;
        justify-content:center;
    }

    .mapContainer {
        width:100%;
        overflow-x:auto;
    }

    .map svg {
        width: 200%;
        align-self:flex-start;
    }
    
    .mapButtons {
        flex-flow:row wrap;
        align-items:center;
        justify-content:center;
        width:100%;
        margin:10px 0px 10px 0px;
        padding:5px;
    }
        
    .mapButtons button {
        padding:5px;
        margin:5px;
        min-width:fit-content;
        width:13%;
        font-size:0.8rem;
    }

    .mapButtons button:hover {
        opacity:1;
    }

    .enableButtons {
        margin:0;
    }

    .enableButtonsSim {
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
    }
}