.menu {
    width: 30px;
    height: 30px;
    position:fixed;
    top:5px;
    left:8px;
}

.menu svg {
    position:fixed;
    fill:white;
    top:5px;
    left:8px;
}

.navBody {
    background-color:rgba(36, 36, 37, .98);
    width:70%;
    height:30%;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    left:0;
    top:41px;
    z-index:1;
    animation: moveRight .5s ease-in-out;
    transition: all .5s;
}

.navBody ul {
    background:none;
    font-size:1rem;
}

.navBody li {
    margin: 15px 15px
}

@keyframes moveRight {
    from {
        transform: translateX(-20rem);
    }
    to {
        transform: translateX(0rem);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0rem);
    }
    to {
        transform: translateX(-20rem);
    }
}